body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  padding: 20px 30px;
  border-radius: 25px;
  margin-top: 30px;
  background-color: rgb(237, 243, 174);
}

.display {
  font-size: 3.5rem;
  color: rgb(32, 31, 31);
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 2px 2px 2px hsla(0, 0%, 8%, 0.82);
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 7px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}

.start-button {
  background-color: hsla(120, 67%, 45%, 0.909);
}

.start-button:hover {
  background-color: hsla(120, 67%, 40%, 0.742);
}

.stop-button {
  background-color: hsla(0, 69%, 46%, 0.909);
}

.stop-button:hover {
  background-color: hsla(0, 69%, 40%, 0.909);
}

.reset-button {
  background-color: hsla(193, 84%, 42%, 0.909);
}

.reset-button:hover {
  background-color: hsla(193, 84%, 36%, 0.909);
}